<!-- about.html.erb -->
<%= content_for(:title) || "About - Clarke.io" %>
<% content_for :description, "Learn more about clarke.io" %>
<h1>About</h1>
<p>A simple static site built with Ruby on Rails.</p>
