<!-- home.html.erb -->
<%= content_for(:title) || "Clarke.io" %>
<% content_for :description, "Clarke Hamilton's homepage" %>
<h2>Welcome</h1>
<p>This is a basic Rails app.</p>
<a href="/about">About</a>
